@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Cursor */
* {
  cursor: url("/images/cursor/normal.cur"), auto;
}

button,
input,
select,
textarea {
  cursor: url("/images/cursor/pointer.cur"), pointer;
}

button:disabled {
  cursor: url("/images/cursor/unavailable.cur"), not-allowed;
}

.none {
  @apply bg-transparent;
}
.bg-zinc {
  @apply bg-zinc-900;
}

.grieta {
  background-image: url("/images/grieta.png");
  background-size: cover;
  background-position: center;
}

.abismo {
  background-image: url("/images/abismo.png");
  background-size: cover;
  background-position: center;
}

.i2v2 {
  background-image: url("/images/2v2.png");
  background-size: cover;
  background-position: center;
}

/* Oscurece con 50% de opacidad */
.i2v2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  @apply rounded-lg;
  z-index: 2;
}
